<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<!--we can just use @movie rather than @movie.id becuase ActiveRecord knows that we are looking for
the id instance(FOR ID BY DEFAULT NOTHING ELSE)

  if we are using a different method for the form, do method: and whaterver the method is to automatically populate our code wit
  be mindful and look at what you are populating in view source!!

  Craaaaaaaazy... we just need the :tittle or :whatever and we don't really need to add argumnets ("") for text Ruby will auto populate it for us. VIEW SOURCE!!!

-->

<%= form_with(model: @movie) do |form| %>
  <div>
    <%= form.label :title%>

    <%= form.text_field :title %>
  </div>

  <div>
   <%= form.label :description %>

   <%= form.text_area :description, rows: "3" %>
  </div>

  <%= form.submit %>
<% end %>


