<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<!--We use erb tags to automate a lot of the form code for us (VIEW SOURCE ALWAYS) We need to close it and follow this format
  The helper methods makes the HTML for us and gives us values that we can change later

  look at all the erb tags for different things, look up any special erbs and learn about them

  if you are unsure about how to manipulate the arguments or what changes what, remember that you can VIEW SOURCE and you will find 
  what you are looking for!!!

  ///we can use model: @something to build a form for the vary object that we want to build the form for. You can't use it everywhere you have to be very midful
  of where you can use it. In this case we can muliple forms in different templates that follow the same sturcure, so we can use model: instead of url:

  CONVENTIONS MUST BE FOLLOWED THROUGHOUT OR THIS WOULD NOT WORK!!!

  /// model: can have a block variable ,|duh|, attached to it and will make it a lot easier to manipulate our code
  /// NO MORE SPECIFICALLY CALLING label_tag!!!
  everything is still incuded!
-->
<%= form_with(model: @movie) do |form| %>

  <%= form.label :title %>

  <%= form.text_field :title%>
  </div>

  <div>
   
   <%= form.label :description %>

   <%= form.text_area :description, rows: 3 %>

  </div>

  <%= form.button %>
<% end %>

<!--
dooooooood look at this
We want to create nested hashes for our forms!!!

It should look like this in our Sever Log!!!!

{ :movie => { :title => "Something", :description => "Something"}}

Remember to check the parameters it is very important!!!
-->