<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<!--We use erb tags to automate a lot of the form code for us (VIEW SOURCE ALWAYS) We need to close it and follow this format
  The helper methods makes the HTML for us and gives us values that we can change later

  look at all the erb tags for different things, look up any special erbs and learn about them

  if you are unsure about how to manipulate the arguments or what changes what, remember that you can VIEW SOURCE and you will find 
  what you are looking for!!!
-->
<%= form_with(url: movies_path) do %>

  <%= label_tag :title, "Title" %>

  <%= text_field_tag :title, @movie.title, id: "title" %>
  </div>

  <div>
   
   <%= label_tag :description, "Description" %>

   <%= text_area_tag :description, @movie.description, id: "description", rows: "3" %>

  </div>

  <%= button_tag "Create movie" %>
<% end %>
