<div>
  <div>
    <h1>
      Movie #<%= @the_movie %> details
    </h1>

    <div>
      <div>
        <%= link_to "Go back", movies_path %>
      </div>

      <div>
        <%= link_to "Edit movie", edit_movie_path %>
      </div>

      <div>
       
        <!-- 
        <a href="<%= movie_path(@the_movie) %>" data-method="delete">
          Delete movie
        </a>
        You need method: :delete for this brother!!! It will go through the path for you, so we can just call @the_movie
        -->
        <%= link_to "Delete movie",@the_movie, method: :delete  %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_movie.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_movie.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
